<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <p><a href="{% url 'addAndCut' %}">add和cut过滤器</a></p>
    <p><a href="{% url 'date' %}">date过滤器</a></p>
    <p><a href="{% url 'default' %}">default过滤器</a></p>
    <p><a href="{% url 'first' %}">first和last过滤器</a></p>
    <p><a href="{% url 'floatformat' %}">floatformat过滤器</a></p>
    <p><a href="{% url 'join' %}">join过滤器</a></p>
    <p><a href="{% url 'length' %}">length过滤器</a></p>
    <p><a href="{% url 'lower' %}">lower过滤器</a></p>
    <p><a href="{% url 'random' %}">random过滤器</a></p>
    <p><a href="{% url 'safe' %}">safe过滤器</a></p>
    <p><a href="{% url 'striptags' %}">striptags过滤器</a></p>
    <p><a href="{% url 'truncatechars' %}">truncatechars过滤器</a></p>
    <p><a href="{% url 'slice' %}">slice过滤器</a></p>
</body>
</html>