QLabel#notice[notice_level="warning"] {
    font-size: 20px;
    color: yellow;
}


QLabel#notice{
    font-size: 20px;
    color: white;
}


QLabel#notice[notice_level="error"] {
    font-size: 25px;
    color: red;
}
